<footer>
  <table width="20" align="right" border="0" cellpadding="0" cellspacing="5">
    <tr>
      <td style="font-size: 12px;">
        <a href="http://www.soundcloud.com/malleable808" style="color: #ffffff;">
        <img src="{{ 'assets/soundcloud.png' | relative_url }}" alt="Soundcloud" width="15" height="15" style="display: inline-block;" border="0" />
        </a>
      </td>   
      <td style="font-size: 12px;">
        <a href="https://soundcloud.com/malleable808/sets/malleable-on-threads-radio" style="color: #ffffff;">
        <img src="{{ 'assets/threads.png' | relative_url }}" alt="Threads Radio" width="15" height="15" style="display: inline-block;" border="0" />
        </a>
      </td>                                       
      <td style="font-size: 12px;">
        <a href="http://www.twitter.com/_MD_MA" style="color: #ffffff;">
        <img src="{{ 'assets/twitter.png' | relative_url }}" alt="Twitter" width="15" height="15" style="display: inline-block;" border="0" />
        </a>
      </td>
      <td style="font-size: 12px;">
        <a href="https://www.instagram.com/malleable808/" style="color: #ffffff;">
        <img src="{{ 'assets/ig.png' | relative_url }}" alt="instagram" width="15" height="15" style="display: inline-block;" border="0" />
        </a>
      </td>
      <td style="font-size: 12px;">
        <a href="https://gitlab.com/malleable808/sequencer" style="color: #ffffff;">
        <img src="{{ 'assets/gitlab.png' | relative_url }}" alt="Gitlab" width="15" height="15" style="display: inline-block;" border="0" />
        </a>
      </td>
      <td style="font-size: 12px;">
        <a href="https://github.com/ModularDevicesMalleableAudio" style="color: #ffffff;">
        <img src="{{ 'assets/github.png' | relative_url }}" alt="Github" width="15" height="15" style="display: inline-block;" border="0" />
        </a>
      </td>
    </tr>
  </table>
</footer>
